@import "./fonts/ucl-goodymat.css";
@import "./fonts/uu5-uubml-03.min.css";

body {
  font-family: "Open Sans", sans-serif;
}

/* make last uu5-bricks-container (with footer) be displayed at the bottom edge of the window
   (or below if there's too much content in the page) */
html, body, #UU5RouterSpace {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
}
#UU5RouterSpace>.uu5-layout-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#UU5RouterSpace>.uu5-layout-root>* {
  flex: 0 0 auto;
}
#UU5RouterSpace>.uu5-layout-root>*:nth-last-child(2) {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  #UU5RouterSpace>.uu5-layout-root>* {
    margin-left: 0;
    margin-right: 0;
  }
}


/* UU5.Layout.Root always inserts Container>Row>Column>Flc and Flc has overflow: hidden which we need to change. */
.uu5-layout-flc {
  overflow: visible !important;
}

/* override default close icon in alerts to be ours */
.uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close {
  font-family: 'ucl-goodymat' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  margin-top: 0.2em;
}
.uu5-bricks-alert-close>* {
  display: none;
}
.uu5-bricks-alert-close:before {
  content: "\e900";
}
