.ucl-goodymat-shop-locker-body {
  text-align: center;
}

.shop-locker-button-open {
  border-radius: 5px;
  width: 233px;
  height: 52px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background: #ab2626;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}

.shop-locker-button-open:focus {
  background: #ab2626;
  color: #ffffff;
}

.shop-locker-button-open:hover {
  background: #ab2626;
  color: #ffffff;
}

.shop-locker-button-open:disabled {
  background: #a0a0a0;
  color: #ffffff;
}

.shop-locker-button-open:disabled:hover {
  background: #a0a0a0;
  color: #ffffff;
}

.shop-locker-button-closed {
  border-radius: 5px;
  width: 233px;
  height: 52px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background: #0c7c00;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}

.shop-locker-button-closed:focus {
  background: #0c7c00;
  color: #ffffff;
}

.shop-locker-button-closed:hover {
  background: #0c7c00;
  color: #ffffff;
}

.shop-locker-button-closed:disabled {
  background: #a0a0a0;
  color: #ffffff;
}

.shop-locker-button-closed:disabled:hover {
  background: #a0a0a0;
  color: #ffffff;
}

.shop-locker-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #2a2a2a;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 0;
  padding-top: 48px;
  padding-bottom: 35px;
}

.shop-locker-header {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  color: #202020;
  letter-spacing: 0;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.shop-locker-center-aligner {
  padding-top: 35px;
}

.shop-locker-closed-label {
  color: #ab2626;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 0;
}

.shop-locker-open-label {
  color: #0c7c00;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 0;
}
