.ucl-goodymat-footer {
  height: 67px;
  text-align: center;
  line-height: 67px;
  background: #d8d8d8;
  color: #757575;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 36px;
}
