.ucl-goodymat-userinfo {
  padding: 20px 20px 40px;
  text-align: center;
  font-size: 14px;
}

.ucl-goodymat-userinfo-image {
  max-width: 96px;
  max-height: 96px;
  display: block;
  margin: 10px auto;
}
