<!DOCTYPE html>
<html>
  <head>
    <title>Name</title>

    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- React -->
    <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <!-- UU5 -->
    <link rel="stylesheet" href="css/uu5-03.min.css" />
    <script type="application/javascript" src="js/uu5-03.min.js"></script>

    <style>
      .uu5-layout-flc {
        overflow: visible;
      }
    </style>
  </head>

  <body>
    <div id="renderHere"></div>
    <script type="text/babel">
      var UCL = UCL || {};
      UCL.GOODYMAT = UCL.GOODYMAT || {};
      UCL.GOODYMAT.GOODYMATM1 = UCL.GOODYMAT.GOODYMATM1 || {};
      UCL.GOODYMAT.GOODYMATM1.VUC = UCL.GOODYMAT.GOODYMATM1.VUC || {};

      UCL.GOODYMAT.GOODYMATM1.VUC.Home = React.createClass({
        mixins: [UU5.Common.BaseMixin, UU5.Common.VucMixin],

        render() {
          return (
            <UU5.Layout.Root header="Home">
              <UU5.Bricks.Button onClick={() => this.getRouter().setRoute(<UCL.GOODYMAT.GOODYMATM1.VUC.About />)}
                                 content="About" />
              <UU5.Bricks.Button onClick={() => this.getRouter().setRoute(<UCL.GOODYMAT.GOODYMATM1.VUC.Eshop />)}
                                 content="Eshop" />
              <UU5.Bricks.Button onClick={() => this.getRouter().setRoute(<UCL.GOODYMAT.GOODYMATM1.VUC.EshopClosed />)}
                                 content="Eshop Closed" />
              <UU5.Bricks.Button
                onClick={() => this.getRouter().setRoute(<UCL.GOODYMAT.GOODYMATM1.VUC.BackofficeOrdersPC />)}
                content="Backoffice Orders PC" />
              <UU5.Bricks.Button
                onClick={() => this.getRouter().setRoute(<UCL.GOODYMAT.GOODYMATM1.VUC.BackofficeOrdersM />)}
                content="Backoffice Orders M" />
            </UU5.Layout.Root>
          );
        }
      });

      UCL.GOODYMAT.GOODYMATM1.VUC.About = React.createClass({
        mixins: [UU5.Common.BaseMixin, UU5.Common.VucMixin],

        render() {
          return (
            <UU5.Layout.Root
              header={{
                element: <UU5.Bricks.Box colorSchema="green">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard header!',
                    sk: 'Štandardná hlavička aplikácie',
                    cs: 'Standardní hlavička aplikace',
                    ua: 'Стандартний заголовок додатка!'
                  }} />
                  <UU5.Bricks.LanguageSelector headerMode="flag" bodyMode='flag'
                                               displayedLanguages={['cs', 'sk', 'en-gb', 'ua']} />
                  <UU5.Bricks.Button>
                    <UU5.Bricks.Glyphicon glyphicon="glyphicon-align-justify" />
                  </UU5.Bricks.Button>
                </UU5.Bricks.Box>
              }}
              footer={{
                element: <UU5.Bricks.Box colorSchema="grey">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard footer!',
                    sk: 'Štandardná patička aplikácie!',
                    cs: 'Standardní patička aplikace!',
                    ua: 'Стандартні футер додатки!'
                  }} />
                </UU5.Bricks.Box>
              }}
            >
              <UU5.Layout.Container>
                <UU5.Layout.Row colorSchema="warning" className="uu5-common-bg">
                  <UU5.Bricks.Box colorSchema="blue">
                    <UU5.Bricks.LinkUU5 /><br />
                    <UU5.Bricks.LinkUAF /> <br />
                    <UU5.Bricks.LinkUnicorn />
                  </UU5.Bricks.Box>
                  <UU5.Bricks.Lsi className="uu5-common-font-size-150" lsi={{
                    en: 'Application team',
                    sk: 'Tvorcovia aplikácie',
                    cs: 'Tvůrci aplikace',
                    ua: 'Конструктор додатків'
                  }} />
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.Image className="uu5-common-center"
                                      src="http://www.360fashion.net/wp-content/uploads/2013/01/image-placeholder5-100x100.jpg "
                                      type="circle" />
                    <UU5.Bricks.Text><b>Vladimír Kovář</b> <br /> Chief idea believer</UU5.Bricks.Text>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.Image className="uu5-common-center"
                                      src="http://www.360fashion.net/wp-content/uploads/2013/01/image-placeholder5-100x100.jpg "
                                      type="circle" />
                    <UU5.Bricks.Text><b>Miloš Vodrážka</b> <br /> Chief backend developer</UU5.Bricks.Text>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.Image className="uu5-common-center"
                                      src="http://www.360fashion.net/wp-content/uploads/2013/01/image-placeholder5-100x100.jpg "
                                      type="circle" />
                    <UU5.Bricks.Text><b>Ondřej Čapek</b> <br /> Chief frontend developer</UU5.Bricks.Text>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.Image className="uu5-common-center"
                                      src="http://www.360fashion.net/wp-content/uploads/2013/01/image-placeholder5-100x100.jpg "
                                      type="circle" />
                    <UU5.Bricks.Text><b>Zuzana Líznerová</b> <br /> Chief support</UU5.Bricks.Text>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.Image className="uu5-common-center"
                                      src="http://www.360fashion.net/wp-content/uploads/2013/01/image-placeholder5-100x100.jpg "
                                      type="circle" />
                    <UU5.Bricks.Text><b>Vladimír Kovář ml.</b> <br /> Chief designer</UU5.Bricks.Text>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.Image className="uu5-common-center"
                                      src="http://www.360fashion.net/wp-content/uploads/2013/01/image-placeholder5-100x100.jpg "
                                      type="circle" />
                    <UU5.Bricks.Text><b>Milan Teplý</b> <br /> Chief tester</UU5.Bricks.Text>
                  </UU5.Layout.Column>
                </UU5.Layout.Row>
              </UU5.Layout.Container>
            </UU5.Layout.Root>
          )
            ;
        }
      });

      UCL.GOODYMAT.GOODYMATM1.VUC.Eshop = React.createClass({
        mixins: [UU5.Common.BaseMixin, UU5.Common.VucMixin],

        render() {
          return (
            <UU5.Layout.Root
              header={{
                element: <UU5.Bricks.Box colorSchema="green">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard Goodymat header!',
                    sk: 'Štandardná hlavička aplikácie Goodymat',
                    cs: 'Standardní hlavička aplikace Goodymat!',
                    ua: 'Стандартний Goodymat заголовок додатка!'
                  }} />
                  <UU5.Bricks.LanguageSelector headerMode="flag" bodyMode='flag'
                                               displayedLanguages={['cs', 'sk', 'en-gb', 'ua']} />
                  <UU5.Bricks.Button>
                    <UU5.Bricks.Glyphicon glyphicon="glyphicon-align-justify" />
                  </UU5.Bricks.Button>
                </UU5.Bricks.Box>
              }}
              footer={{
                element: <UU5.Bricks.Box colorSchema="grey">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard Goodymat footer!',
                    sk: 'Štandardná patička aplikácie Goodymat!',
                    cs: 'Standardní patička aplikace Goodymat!',
                    ua: 'Стандартні футер додатки Goodymat!'
                  }} />
                </UU5.Bricks.Box>
              }}
            >
              <UU5.Layout.Container>
                <UU5.Layout.Row>
                  <UU5.Layout.Column>
                    <UU5.Bricks.Alert block colorSchema="danger">
                      <UU5.Bricks.Lsi lsi={{
                        en: 'Your product was ordered, bon apetite!',
                        sk: 'Váš tovar bolo úspešne objednaný, dobrú chuť!',
                        cs: 'Vaše zboží bylo úspěšně objednáno, dobrou chuť!',
                        ua: 'Ваш товар був успішно замовили, хороший смак!'
                      }} />
                    </UU5.Bricks.Alert>
                    <UU5.Bricks.ProgressBar className="font-size-150">
                      <UU5.Bricks.ProgressBar.Item progress={15} content="a" colorSchema="primary" />
                      <UU5.Bricks.ProgressBar.Item progress={15} content="b" colorSchema="success" />
                      <UU5.Bricks.ProgressBar.Item progress={15} content="c" colorSchema="primary" />
                      <UU5.Bricks.ProgressBar.Item progress={15} content="d" colorSchema="success" />
                    </UU5.Bricks.ProgressBar>
                  </UU5.Layout.Column>
                  <UU5.Bricks.Box className="uu5-common-min-height-20" colorSchema="warning">
                    <UU5.Bricks.Lsi lsi={{
                      en: 'Welcome to our internet shop, we sell the smoked knees and the rabits ears!',
                      sk: 'Vitajte v našom internetovom obchode, predávame tu údená kolená a králičie uši, nakúpte si!',
                      cs: 'Vítejte v našem internetovém obchodě, prodáváme zde uzená kolena a králičí uši, nakupte si!',
                      ua: 'Ласкаво просимо в наш інтернет-магазин, ми продаємо тут копченої коліно і вуха кролика, купити деякі!'
                    }} />
                  </UU5.Bricks.Box>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.TouchIcon colorSchema="primary"
                                          className="font-size-150" glyphicon="glyphicon glyphicon-cutlery">
                      <UU5.Bricks.Lsi
                        lsi={{ en: 'smoked knee', sk: 'udené koleno', cs: 'uzené koleno', ua: 'копчені коліно' }} />
                    </UU5.Bricks.TouchIcon>
                    <UU5.Bricks.Button>
                      <UU5.Bricks.Lsi lsi={{
                        en: 'Order',
                        sk: 'Objednať',
                        cs: 'Objednat',
                        ua: 'замовлення'
                      }} />
                    </UU5.Bricks.Button>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">
                    <UU5.Bricks.TouchIcon colorSchema="primary"
                                          className="font-size-150" glyphicon="glyphicon glyphicon-piggy-bank">
                      <UU5.Bricks.Lsi
                        lsi={{ en: 'rabbits ears', sk: 'králičie uši', cs: 'králičí uši', ua: 'вуха кролика' }} />
                    </UU5.Bricks.TouchIcon>
                    <UU5.Bricks.Button>
                      <UU5.Bricks.Lsi lsi={{
                        en: 'Order',
                        sk: 'Objednať',
                        cs: 'Objednat',
                        ua: 'замовлення'
                      }} />
                    </UU5.Bricks.Button>
                  </UU5.Layout.Column>
                  <UU5.Layout.Column colWidth="lg-3 sm-4 xs-6">

                    <UU5.Bricks.TouchIcon colorSchema="primary"
                                          className="font-size-150" glyphicon="glyphicon glyphicon-ice-lolly">
                      <UU5.Bricks.Lsi
                        lsi={{
                          en: 'gummy bears',
                          sk: 'gumoví medvedíci',
                          cs: 'gumoví medvídci',
                          ua: 'ведмедики Гаммі'
                        }} />
                    </UU5.Bricks.TouchIcon>
                    <UU5.Bricks.Button>
                      <UU5.Bricks.Lsi lsi={{
                        en: 'Order',
                        sk: 'Objednať',
                        cs: 'Objednat',
                        ua: 'замовлення'
                      }} />
                    </UU5.Bricks.Button>
                  </UU5.Layout.Column>
                </UU5.Layout.Row>
                <UU5.Bricks.Line colorSchema="grey" />
                Výběr produktů - obrázek produktu a tlačítko na objednání.
              </UU5.Layout.Container>
            </ UU5.Layout.Root >
          )
            ;
        }
      });

      UCL.GOODYMAT.GOODYMATM1.VUC.EshopClosed = React.createClass({
        mixins: [UU5.Common.BaseMixin, UU5.Common.VucMixin],

        render() {
          return (
            <UU5.Layout.Root
              header={{
                element: <UU5.Bricks.Box colorSchema="green">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard Goodymat header!',
                    sk: 'Štandardná hlavička aplikácie Goodymat',
                    cs: 'Standardní hlavička aplikace Goodymat!',
                    ua: 'Стандартний Goodymat заголовок додатка!'
                  }} />
                  <UU5.Bricks.LanguageSelector headerMode="flag" bodyMode='flag'
                                               displayedLanguages={['cs', 'sk', 'en-gb', 'ua']} />
                  <UU5.Bricks.Button>
                    <UU5.Bricks.Glyphicon glyphicon="glyphicon-align-justify" />
                  </UU5.Bricks.Button>
                </UU5.Bricks.Box>
              }}
              footer={{
                element: <UU5.Bricks.Box colorSchema="grey">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard Goodymat footer!',
                    sk: 'Štandardná patička aplikácie Goodymat!',
                    cs: 'Standardní patička aplikace Goodymat!',
                    ua: 'Стандартні футер додатки Goodymat!'
                  }} />
                </UU5.Bricks.Box>
              }}
            >
              <UU5.Layout.Container>

                <UU5.Bricks.Box className="uu5-common-min-height-20" colorSchema="warning">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Welcome to our internet shop, we sell the smoked knees and the rabits ears!',
                    sk: 'Vitajte v našom internetovom obchode, momentálne je obchod zavretý, tovar nie je možné objednať, príďte zajtra.',
                    cs: 'Vítejte v našem internetovém obchodě, momentálně je obchod uzavřen, zboží nelze objednat, přijďte zítra.',
                    ua: 'Ласкаво просимо в наш інтернет-магазин, ми продаємо тут копченої коліно і вуха кролика, купити деякі!'
                  }} />
                  <UU5.Bricks.Box>
                    <UU5.Bricks.Button colorSchema="danger">
                      Otevřít
                    </UU5.Bricks.Button>
                    <UU5.Bricks.Button colorSchema="grey">
                      Storno
                    </UU5.Bricks.Button>
                  </UU5.Bricks.Box>
                </UU5.Bricks.Box>
              </UU5.Layout.Container>
            </UU5.Layout.Root>
          )
            ;
        }
      });

      UCL.GOODYMAT.GOODYMATM1.VUC.BackofficeOrdersPC = React.createClass({
        mixins: [UU5.Common.BaseMixin, UU5.Common.VucMixin],

        render() {
          return (
            <UU5.Layout.Root
              header={{
                element: <UU5.Bricks.Box colorSchema="green">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard Goodymat header!',
                    sk: 'Štandardná hlavička aplikácie Goodymat',
                    cs: 'Standardní hlavička aplikace Goodymat!',
                    ua: 'Стандартний Goodymat заголовок додатка!'
                  }} />
                  <UU5.Bricks.LanguageSelector headerMode="flag" bodyMode='flag'
                                               displayedLanguages={['cs', 'sk', 'en-gb', 'ua']} />
                  <UU5.Bricks.Button>
                    <UU5.Bricks.Glyphicon glyphicon="glyphicon-align-justify" />
                  </UU5.Bricks.Button>
                </UU5.Bricks.Box>

              }}
              footer={{
                element: <UU5.Bricks.Box colorSchema="grey">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'Standard Goodymat footer!',
                    sk: 'Štandardná patička aplikácie Goodymat!',
                    cs: 'Standardní patička aplikace Goodymat!',
                    ua: 'Стандартні футер додатки Goodymat!'
                  }} />
                </UU5.Bricks.Box>
              }}
            >
              <UU5.Layout.Container>
                <UU5.Bricks.Box className="bg-warning uu5-common-min-height-20">
                  <UU5.Bricks.Lsi lsi={{
                    en: 'List of orders that exist. Role Executives can solve the order by pressing the button.',
                    cs: 'Obsahuje seznam objednávek, které jsou vytvořené. Role Executives objednávku vyřídí stisknutím tlačítka, a objednávka zmizí.',
                    sk: 'Obsahuje zoznam objednávok, ktoré sú vytvorené. Úloha Executives objednávku vybaví stlačením tlačítka, a objednávka zmizne.',
                    uk: 'Він містить список замовлень, які створюються. Роль керівників виконуватиме замовлення, друк, і порядок зникає.'
                  }} />

                  <UU5.Bricks.Alert colorSchema="danger">
                    <UU5.Bricks.Lsi lsi={{
                      en: 'Order 2016/12/14 11:04 Vladimir - uzené koleno was solved',
                      sk: 'Objednávka 2016/12/14 11:04 Vladimir - uzené koleno bola vyriešená',
                      cs: 'Objednávka 2016/12/14 11:04 Vladimir - uzené koleno byla vyřešená.',
                      ua: 'замовлення 2016/12/14 11:04 Vladimir - uzené koleno була вирішена'
                    }} />
                  </UU5.Bricks.Alert>

                </UU5.Bricks.Box>
                <UU5.Bricks.Table>
                  <UU5.Bricks.Table.THead>
                    <UU5.Bricks.Table.Tr>
                      <UU5.Bricks.Table.Th content="Datum" />
                      <UU5.Bricks.Table.Th content="Typ" />
                      <UU5.Bricks.Table.Th content="Zákazník" />
                      <UU5.Bricks.Table.Th content="Potvrdit" />
                    </UU5.Bricks.Table.Tr>
                  </UU5.Bricks.Table.THead>
                  <UU5.Bricks.Table.TBody>
                    <UU5.Bricks.Table.Tr>
                      <UU5.Bricks.Table.Td content="2016/12/14 11:04" />
                      <UU5.Bricks.Table.Td content=<UU5.Bricks.Lsi lsi={{
                        en: 'Smoked knee',
                        sk: 'Údené koleno',
                        cs: 'Uzené koleno',
                        ua: 'копчені коліно'
                      }} /> />
                      <UU5.Bricks.Table.Td content="Vladimír Kovář" />
                      <UU5.Bricks.Table.Td content={<UU5.Bricks.Button><UU5.Bricks.Lsi lsi={{
                        en: 'Finish order',
                        sk: 'Uzavrieť objednávku',
                        cs: 'Uzavřít objednávku',
                        ua: 'замовити закрити'
                      }} /></UU5.Bricks.Button>} />
                    </UU5.Bricks.Table.Tr>
                    <UU5.Bricks.Table.Tr>
                      <UU5.Bricks.Table.Td content="2016/12/12 10:09" />
                      <UU5.Bricks.Table.Td content={<UU5.Bricks.Lsi lsi={{
                        en: 'Rabbit ears',
                        sk: 'Králičie uši',
                        cs: 'Králičí uši',
                        ua: 'вуха кролика'
                      }} />} />
                      <UU5.Bricks.Table.Td content="lovecký pes Frey" />
                      <UU5.Bricks.Table.Td content={<UU5.Bricks.Button><UU5.Bricks.Lsi lsi={{
                        en: 'Finish order',
                        sk: 'Uzavrieť objednávku',
                        cs: 'Uzavřít objednávku',
                        ua: 'замовити закрити'
                      }} /></UU5.Bricks.Button>} />
                    </UU5.Bricks.Table.Tr>
                    <UU5.Bricks.Table.Tr>
                      <UU5.Bricks.Table.Td content="2016/12/12 10:09" />
                      <UU5.Bricks.Table.Td content=<UU5.Bricks.Lsi lsi={{
                        en: 'Smoked knee',
                        sk: 'Údené koleno',
                        cs: 'Uzené koleno',
                        ua: 'копчені коліно'
                      }} /> />
                      <UU5.Bricks.Table.Td content="Vladimír Kovář" />
                      <UU5.Bricks.Table.Td content={<UU5.Bricks.Button><UU5.Bricks.Lsi lsi={{
                        en: 'Finish order',
                        sk: 'Uzavrieť objednávku',
                        cs: 'Uzavřít objednávku',
                        ua: 'замовити закрити'
                      }} /></UU5.Bricks.Button>} />
                    </UU5.Bricks.Table.Tr>
                  </UU5.Bricks.Table.TBody>
                </UU5.Bricks.Table>
              </UU5.Layout.Container>
            </UU5.Layout.Root>
        );
        }
        });

        UCL.GOODYMAT.GOODYMATM1.VUC.BackofficeOrdersM = React.createClass({
          mixins: [UU5.Common.BaseMixin, UU5.Common.VucMixin],

          render() {
          return (
          <UU5.Layout.Root
          header={{
            element: <UU5.Bricks.Box colorSchema="green">
              <UU5.Bricks.Lsi lsi={{
                en: 'Standard Goodymat header!',
                sk: 'Štandardná hlavička aplikácie Goodymat',
                cs: 'Standardní hlavička aplikace Goodymat!',
                ua: 'Стандартний Goodymat заголовок додатка!'
              }} />
              <UU5.Bricks.LanguageSelector headerMode="flag" bodyMode='flag'
                                           displayedLanguages={['cs', 'sk', 'en-gb', 'ua']} />
              <UU5.Bricks.Button>
                <UU5.Bricks.Glyphicon glyphicon="glyphicon-align-justify" />
              </UU5.Bricks.Button>
            </UU5.Bricks.Box>
          }}
          footer={{
            element: <UU5.Bricks.Box colorSchema="grey">
              <UU5.Bricks.Lsi lsi={{
                en: 'Standard Goodymat footer!',
                sk: 'Štandardná patička aplikácie Goodymat!',
                cs: 'Standardní patička aplikace Goodymat!',
                ua: 'Стандартні футер додатки Goodymat!'
              }} />
            </UU5.Bricks.Box>
          }}
          >
          <UU5.Layout.Container>
          <UU5.Layout.Row>
          <UU5.Bricks.Box className="bg-warning uu5-common-min-height-20">
          <UU5.Bricks.Lsi lsi={{
            en: 'List of orders that exist. Role Executives can solve the order by swipe.',
            cs: 'Obsahuje seznam objednávek, které jsou vytvořené. Role Executives šoupnutím objednávku vyřídí, a objednávka zmizí.',
            sk: 'Obsahuje zoznam objednávok, ktoré sú vytvorené. Úloha Executives šoupnutím objednávku vybaví, a objednávka zmizne.',
            uk: 'Він містить список замовлень, які створюються. Керівники ролей буде перемикання виконати замовлення, і порядок зникає.'
          }}                                />

          <UU5.Bricks.Alert colorSchema="danger">
          <UU5.Bricks.Lsi lsi={{
            en: 'Order 2016/12/14 11:04 Vladimir - uzené koleno was solved',
            sk: 'Objednávka 2016/12/14 11:04 Vladimir - uzené koleno bola vyriešená',
            cs: 'Objednávka 2016/12/14 11:04 Vladimir - uzené koleno byla vyřeš.',
            ua: 'замовлення 2016/12/14 11:04 Vladimir - uzené koleno була вирішена'
          }} />
          </UU5.Bricks.Alert>
          <UU5.Bricks.Box colorSchema="blue">
          <UU5.Bricks.TouchIcon colorSchema="primary" onClick={() => this.modalMD.show('lg')}
          className="font-size-150" glyphicon="glyphicon glyphicon-user">
          Vladimír Kovář
          </UU5.Bricks.TouchIcon>
          <UU5.Bricks.TouchIcon colorSchema="primary" onClick={() => this.modalMD.show('lg')}
          className="font-size-150" glyphicon="glyphicon glyphicon-cutlery">
          <UU5.Bricks.Lsi
          lsi={{ en: 'smoked knee', sk: 'udené koleno', cs: 'uzené koleno', ua: 'копчені коліно' }} />
          </UU5.Bricks.TouchIcon>
          2016/12/14 11:04
          </UU5.Bricks.Box>
          <UU5.Bricks.Box colorSchema="orange">
          <UU5.Bricks.TouchIcon colorSchema="primary" onClick={() => this.modalMD.show('lg')}
          className="font-size-150" glyphicon="glyphicon glyphicon-user">
          lpF
          </UU5.Bricks.TouchIcon>
          <UU5.Bricks.TouchIcon colorSchema="primary" onClick={() => this.modalMD.show('lg')}
          className="font-size-150" glyphicon="glyphicon glyphicon-cutlery">
          <UU5.Bricks.Lsi
          lsi={{ en: 'rabbits ears', sk: 'králičie uši', cs: 'králičí uši', ua: 'вуха кролика' }} />
          </UU5.Bricks.TouchIcon>
          2016/12/12 10:09
          </UU5.Bricks.Box>
          <UU5.Bricks.Box colorSchema="green">
          <UU5.Bricks.TouchIcon colorSchema="primary" onClick={() => this.modalMD.show('lg')}
          className="font-size-150" glyphicon="glyphicon glyphicon-user">
          Vladimír Kovář
          </UU5.Bricks.TouchIcon>
          <UU5.Bricks.TouchIcon colorSchema="primary" onClick={() => this.modalMD.show('lg')}
          className="font-size-150" glyphicon="glyphicon glyphicon-cutlery">
          <UU5.Bricks.Lsi
          lsi={{ en: 'smoked knee', sk: 'udené koleno', cs: 'uzené koleno', ua: 'копчені коліно' }} />
          </UU5.Bricks.TouchIcon>
          2016/12/12 10:09
          </UU5.Bricks.Box>
          </UU5.Bricks.Box>
          </UU5.Layout.Row>
          </UU5.Layout.Container>
          </UU5.Layout.Root>
          );
        }
        });

        ReactDOM.render(React.createElement(UU5.Common.Router, {
          route: <UCL.GOODYMAT.GOODYMATM1.VUC.Home />
        }), document.getElementById('renderHere'));

    </script>
  </body>
</html>