.ucl-goodymat-backoffice-body {
  text-align: center;
}

.ucl-goodymat-backoffice-body h1 {
  font-family: "Open Sans";
  font-size: 28px;
  color: #202020;
  letter-spacing: 0;
  margin: 0px 0px 30px;
}

