.ucl-goodymat-order-swiper {
  border-top: 1px solid #bcbcbc;
  width: auto;
  min-height: 78px;
  padding: 0px 5px 0px 5px;
}

.ucl-goodymat-order-swiper-button {
  font-family: "Open Sans", sans-serif;
  background: #0c7c00;
  border-color: #0c7c00;
  border-radius: 5px;
  width: 113px;
  height: 60px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}

.ucl-goodymat-order-swiper-button:hover {
  background: #0c7c00;
  border-radius: 5px;
  width: 113px;
  height: 60px;
  color: white;
}

.ucl-goodymat-order-swiper-button:focus {
  background: #0c7c00;
  border-radius: 5px;
  width: 113px;
  height: 60px;
  color: white;
}

.ucl-goodymat-order-swiper-button-wrapper {
  margin: 0px 10px 0px 0px;
}

.ucl-goodymat-order-swiper-product-order-id {
  font-family: "Open Sans";
  font-size: 13px;
  color: rgb(136, 136, 136);
  text-align: left;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
}

.ucl-goodymat-order-swiper-product-name {
  font-family: "Open Sans";
  font-size: 18px;
  color: #000000;
  text-align: left;
  padding: 0px 0px 0px 20px;
  margin: 5px 0px 0px 0px;
}

.ucl-goodymat-order-swiper-info-customer {
  color: #000000;
  text-align: left;
  padding-left: 20px;
  vertical-align: middle;
  border-radius: 10px;
}

.ucl-goodymat-order-swiper-info-customer>* {
  display: inline-block;
}
.ucl-goodymat-order-swiper-info-customer>*:first-child {
  padding-right: 5px;
}
.ucl-goodymat-order-swiper-info-customer p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 13px;
  color: #404040;
  padding: 0px;
  margin: 0;
}

.ucl-goodymat-order-swiper-creation-time {
  font-family: "Open Sans", "Sans-serif";
  font-weight: 700;
  font-size: 14px;
  color: #888888;
  text-align: right;
  margin: 0px;
}

.ucl-goodymat-order-swiper-info-goodymat {
  display: inline-flex;
  color: #888888;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

.ucl-goodymat-order-swiper-info-goodymat p {
  padding: 0px 0px 0px 3px;
}

.ucl-goodymat-order-swiper-info-goodymat-icon{
  font-size: 150% !important;
}

.ucl-goodymat-order-swiper-body {
  padding: 0px 10px 0px 10px;
}

.ucl-goodymat-order-swiper-info {
}

.ucl-goodymat-order-swiper-info-wrapper {
  display: flex;
  min-height: 78px;
  align-items: center;
}

.ucl-goodymat-order-swiper-menu {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}
