.ucl-goodymat-order-row {
  font-family: "Open Sans";
  border-bottom: 1px solid #bcbcbc;
  padding: 5px 22px 5px 22px;
  width: 100%;
  height: 65px;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.ucl-goodymat-backofficeorders-row-creation-time {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #888888;
  text-align: right;
}

.ucl-goodymat-order-row-product-name {
  font-family: "Open Sans", sans-serif;;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.ucl-goodymat-order-row-customer-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.ucl-goodymat-order-row-info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}

.ucl-goodymat-order-row-info-order-id{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.ucl-goodymat-order-row-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

.ucl-goodymat-order-row-info-goodymat{
  display: inline-flex;
  color: #888888;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  width: 200px;
}

.ucl-goodymat-order-row-info-goodymat p{
  padding: 3px 0px 0px 5px;
  font-size: 13px;
}

.ucl-goodymat-order-row-info-goodymat-icon{
  font-size: 150% !important;
  margin-left: -5px !important;
}

/* ORDER BUTTON ========  */
.ucl-goodymat-order-row-button {
  background: #0c7c00;
  border-color: #0c7c00;
  border-radius: 5px;
  width: 152px;
  height: 38px;
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ucl-goodymat-order-row-button:hover {
  background: #0c7c00;
  border-radius: 5px;
  width: 152px;
  height: 38px;
  color: white;
}

.ucl-goodymat-order-row-button:focus {
  background: #0c7c00;
  border-radius: 5px;
  width: 152px;
  height: 38px;
  color: white;
}


.ucl-goodymat-order-row-button-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}





