.ucl-goodymat-order-list-footer {
  border-top: 1px solid #bcbcbc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #8d8d8d;
  letter-spacing: 0;
  text-align: center;
  padding: 20px;
}

.uu5-bricks-section.order-list .uu5-bricks-header {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  color: #202020;
  letter-spacing: 0;
  text-align: center;
}

.ucl-goodymat-order-list-title-row {
  width: 100%;
  height: 20px;
  padding: 0px 22px 0px 22px;
  border-bottom: 1px solid #bcbcbc;
}

.ucl-goodymat-order-list-title-row p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0.28px;
  text-align: left;
}