@font-face {
  font-family: 'ucl-goodymat';
  src:  url('ucl-goodymat.eot?m8w93');
  src:  url('ucl-goodymat.eot?m8w93#iefix') format('embedded-opentype'),
    url('ucl-goodymat.ttf?m8w93') format('truetype'),
    url('ucl-goodymat.woff?m8w93') format('woff'),
    url('ucl-goodymat.svg?m8w93#ucl-goodymat') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ucl-goodymat-icon-"], [class*=" ucl-goodymat-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ucl-goodymat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ucl-goodymat-icon-close:before {
  content: "\e900";
}
.ucl-goodymat-icon-info:before {
  content: "\e901";
}
.ucl-goodymat-icon-maintenance:before {
  content: "\e902";
}
.ucl-goodymat-icon-menu:before {
  content: "\e903";
}
.ucl-goodymat-icon-orders:before {
  content: "\e904";
}
.ucl-goodymat-icon-settings:before {
  content: "\e905";
}
.ucl-goodymat-icon-shopping-cart:before {
  content: "\e906";
}

