.ucl-goodymat-eshop-progressbus {
  top: 72px;
  position: absolute;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-body {
  background:#eaeaea;
  border: none;
  border-radius:5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #4d4d4d;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);

}

.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-alert {
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
}

.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-alert.color-schema-grey {
  background-color: #888888;
  color: #ffffff;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-alert.color-schema-danger {
  background-color: #ab2626;
  color: #ffffff;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-alert.color-schema-success {
  background-color: #0a7c00;
  color: #ffffff;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-button.color-schema-grey {
  background-color: #ababab;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-button.color-schema-danger {
  background-color: #ab2626;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-button.color-schema-success{
  background-color: #0a7c00;
}

.ucl-goodymat-eshop-progressbus .uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close { /* repeated for greater specificity */
  color: #ffffff;
  opacity: 0.8;
}
.ucl-goodymat-eshop-progressbus .uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close:hover { /* repeated for greater specificity */
  opacity: 1;
}

@media screen and (max-width: 767px) {

  .ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-alert,
  .ucl-goodymat-eshop-progressbus .uu5-bricks-progress-bus-body{
    border-radius: 0;
  }

}