
.ucl-goodymat-eshop-product {
  text-align: center;
  padding: 0 1em 1em;
}

.ucl-goodymat-eshop-product-button.color-schema-success {
  background: #ffffff;
  border: 2px solid #0c7c00;
  color: #0c7c00;
  border-radius: 100px;
  width: 170px;
  height: 49px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
}

.ucl-goodymat-eshop-product-button.color-schema-success.focus,
.ucl-goodymat-eshop-product-button.color-schema-success:focus{
  background: #ffffff;
  border: 2px solid #0c7c00;
  color: #0c7c00;
}

.ucl-goodymat-eshop-product-button.color-schema-success:hover,
.ucl-goodymat-eshop-product-button.color-schema-success.hover {
  background: #0c7c00;
  color: #ffffff;
}

.ucl-goodymat-eshop-product-button.color-schema-success.active,
.ucl-goodymat-eshop-product-button.color-schema-success:active {
  background: #0c7c00;
  border: 2px solid #0c7c00;
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

.ucl-goodymat-eshop-product-button.color-schema-success.disabled,
.ucl-goodymat-eshop-product-button.color-schema-success.disabled:hover,
.ucl-goodymat-eshop-product-button.color-schema-success.disabled.hover {
  background:#e7e7e7;
  border:2px solid #ababab;
  color:#ababab;
  letter-spacing:0;
}

.ucl-goodymat-eshop-product-button .uu5-bricks-glyphicon {
  padding: 0 12px 0 0;
  font-size: 1.6em;
}
.ucl-goodymat-eshop-product-button .uu5-bricks-lsi {
  vertical-align: -1px;
}

.ucl-goodymat-eshop-product-contentFlc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ucl-goodymat-eshop-product-contentFlc .uu5-bricks-image{
  padding: 1em 0;
}