.ucl-goodymat-eshop-body {
  margin-bottom: 40px;
}

.ucl-goodymat-eshop-body-welcome-flc {
  text-align: center;
  font-size: 1.2em;
  padding: 0 1em 0;
}

.ucl-goodymat-eshop-body-guest-alert {
  text-align: center;
  background: #000000;
  border-color: #000000;
  width:80%;
  height:78px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  top: 0;
}

.ucl-goodymat-eshop-body-guest-alert .uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close { /* repeated for greater specificity */
  color: #ffffff;
  opacity: 0.8;
}
.ucl-goodymat-eshop-body-guest-alert .uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close.uu5-bricks-alert-close:hover { /* repeated for greater specificity */
  opacity: 1;
}

@media screen and (max-width: 767px) {

  .ucl-goodymat-eshop-body-guest-alert {
    border-radius: 0;
    width: 100%;
  }

  .ucl-goodymat-eshop-body-product-row {
    padding-bottom: 50px;
  }
}

/* closed shop */
.ucl-goodymat-eshop-body-closed-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
  width: 40%;
  padding: 3em 1em;
}

.ucl-goodymat-eshop-body-closed-block .uu5-bricks-glyphicon {
  font-size: 7.2em;
  color: #888888;
  margin-bottom: 50px;
}
.ucl-goodymat-eshop-body-closed-block .uu5-bricks-p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color:#888888;
  letter-spacing:0;
  text-align: center;
  padding: 0 1em;
  margin: 0;
}

@media screen and (max-width: 767px) {

  .ucl-goodymat-eshop-body {
    margin-bottom: 0;
  }
  
  .ucl-goodymat-eshop-body-closed-block {
    width: 100%;
    margin: 0 auto;
  }

  .ucl-goodymat-eshop-product.ucl-goodymat-eshop-product {
    padding-bottom: 25px;
    border-bottom: 2px solid #d8d8d8;
  }

  .ucl-goodymat-eshop-product:last-child{
    border-bottom: none;
  }


}