.uu-appworkspace-vucsysabout {

}

@media(max-width:991px){
  .uu-appworkspace-vucsysabout-about {
    text-align:center;
    padding: 0 1em 0 1em;
  }
  .uu-appworkspace-about-license {
    text-align:center;
    padding: 0 1em 0 1em;
  }
  .uu-appworkspace-vucsysabout-references {
    padding: 0 1em 0 1em;
  }
  .uu-appworkspace-references-reference {
    text-align: center;
    padding: 0 1em 0 1em;
  }
}

@media(min-width:992px) {
  .uu-appworkspace-vucsysabout-about {
    text-align:center;
    padding: 0 15em 0 15em;
  }
  .uu-appworkspace-about-license {
    text-align:center;
    padding: 0 15em 0 15em;
  }
  .uu-appworkspace-vucsysabout-references {
    padding: 0 15em 0 15em;
  }
  .uu-appworkspace-references-reference {
    text-align: center;
    padding: 0 3em 0 3em;
    margin-top: 2em;
  }
}

.uu-appworkspace-vucsysabout-header {
  font-family:"Open Sans", sans-serif;;
  font-size:25px;
  color:#202020;
  letter-spacing:0;
}

.uu-appworkspace-vucsysabout-text {
  font-family:"Open Sans", sans-serif;;
  font-size:14px;
  color:#202020;
  letter-spacing:0;
}

.uu-appworkspace-vucsysabout-creators {
  text-align:center;
}

.uu-appworkspace-references-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size:18px;
  color:#00b3e1;
  letter-spacing:0;
}

.uu-appworkspace-references-text {
  font-family: "Open Sans", sans-serif;
  font-size:14px;
  color:#202020;
  letter-spacing:0;
}

.uu-appworkspace-creators-leading_creator {
  margin: 0 1.5em 0 1.5em;
  padding: 2em 0 1em 0;
  display: inline-block;
  text-align: center;
}

.uu-appworkspace-creators-leading_img {
  width:8em;
}

.uu-appworkspace-creators-leading_name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size:16px;
  color:#202020;
  letter-spacing:0;
  margin-top: 1em;
  margin-bottom: 0;
}

.uu-appworkspace-creators-leading_role {
  font-family: "Open Sans", sans-serif;
  font-size:14px;
  color:#828282;
  letter-spacing:0;
}

.uu-appworkspace-creators-other_creator {
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
  display: inline-block;
  text-align: center;
}

.uu-appworkspace-creators-other_img {
  width:7em;
}

.uu-appworkspace-creators-other_name {
  font-family: "Open Sans", sans-serif;;
  font-weight: 700;
  font-size:14px;
  color:#202020;
  letter-spacing:0;
  text-align:center;
  margin-top: 1em;
  margin-bottom: 0;
}

.uu-appworkspace-creators-other_role {
  font-family: "Open Sans", sans-serif;
  font-size:13px;
  color:#828282;
  letter-spacing:0;
}

.uu-appworkspace-about-technologies {
  text-align:center;
}