.uu-appworkspace-licence {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .uu-appworkspace-licence {
    width: auto;
  }
}

.uu-appworkspace-licence-organization {
  border-top: solid 1px #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.uu-appworkspace-licence-organization-logo {
  padding: 2em 0 1em 0;
}

.uu-appworkspace-licence-organization-body {
  font-family: "Clear Sans Bold", sans-serif;;
  font-size: 14px;
  color: #202020;
  letter-spacing: 0;
  margin: 0px 0px 0px 0px;
}

.uu-appworkspace-licence-organization-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #00b3e1;
  letter-spacing: 0;
}

.uu-appworkspace-licence-organization-name a {
  color: #00b3e1;
  font-weight: 300;
}

.uu-appworkspace-licence-competent-column-header {
  font-weight: normal;
  text-align: right;
  padding-right: 10px;
  color: #757575;
  vertical-align: middle !important;
}

.uu-appworkspace-licence-competent-person {
  width: 100%;
  text-align: left;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #dddddd;

}

.uu-appworkspace-licence-user-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  letter-spacing: 0;
}

.uu-appworkspace-licence-user-name p {
  margin: 0px;
}