
/*Header*/

.plus4u-dockit-sysabout-team-header {
  font-family:"Open Sans", sans-serif;;
  font-size:25px;
  color:#202020;
  letter-spacing:0;
}

/*Leading creators*/
.plus4u-dockit-sysabout-team-leading-creator {
  margin: 0 1.5em 0 1.5em;
  padding: 2em 0 1em 0;
  display: inline-block;
  text-align: center;
}

.plus4u-dockit-sysabout-team-leading-creator > .uu5-bricks-image{
  width:8em;
}

.plus4u-dockit-sysabout-team-leading-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size:16px;
  color:#202020;
  letter-spacing:0;
  margin-top: 1em;
  margin-bottom: 0;
}

.plus4u-dockit-sysabout-team-leading-role {
  font-family: "Open Sans", sans-serif;
  font-size:14px;
  color:#828282;
  letter-spacing:0;
}

/*Other creators*/
.plus4u-dockit-sysabout-team-other-creator {
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
  display: inline-block;
  text-align: center;
}

.plus4u-dockit-sysabout-team-other-creator > .uu5-bricks-image {
  width:7em;
}

.plus4u-dockit-sysabout-team-other-name {
  font-family: "Open Sans", sans-serif;;
  font-weight: 700;
  font-size:14px;
  color:#202020;
  letter-spacing:0;
  text-align:center;
  margin-top: 1em;
  margin-bottom: 0;
}

.plus4u-dockit-sysabout-team-other-role {
  font-family: "Open Sans", sans-serif;
  font-size:13px;
  color:#828282;
  letter-spacing:0;
}


.column-lg-offset-8-35 {
  margin-left: 8.35%;
}
.column-md-offset-12-5,
.column-lg-offset-12-5 {
  margin-left: 12.5%;
}
.column-lg-offset-41-6 {
  margin-left: 41.6%;
}
.column-lg-offset-25-05 {
  margin-left: 25.5%;
}
.column-lg-offset-37-5,
.column-md-offset-37-5{
  margin-left: 37.5%;
}
.column-sm-offset-33-4 {
  margin-left: 33.4%;
}
.column-sm-offset-16-7 {
  margin-left: 16.7%;
}
.column-xs-offset-25 {
  margin-left: 25%;
}